body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #e9ecef;
}

/* HEADER */
header {
    background-color: #1f2937;
    color: white;
    padding: 25px;
    text-align: center;
}

/* NAV */
nav ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #facc15;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* SECTIONS */
section {
    padding: 30px;
    margin: 20px auto;
    background-color: white;
    max-width: 850px;
    border-radius: 12px;
    border-left: 5px solid #1f2937;
}

/* PROJECT BOX */
.project {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* BUTTON */
button {
    padding: 8px 12px;
    background-color: #1f2937;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #374151;
}

/* FORM */
input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* FOOTER */
footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

/* MOBILE */
@media screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    section {
        margin: 10px;
        padding: 20px;
    }
}